	<!-- START ABOUT -->
	<section id="about">
	    <div class="container fadeIn">
	        <div class="row">
	            <div class="text-center">
	                <h1>About the Project</h1>
	                <hr class="faded">
	                <p>A journalism tool to be used for figuring out what's causing the New Jersey census shift.</p>
	                <p>Meta-Jersey provides a tool for journalists that can aid them in understanding what is causing the change of the New Jersey census. By using a wide range of data, which is visualized on an interactive heat map, users will be able to chose what data is displayed on the map, allowing them to create a story based on the data that is being visualized.
</p>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- END ABOUT -->

