	<!-- START COMMUTE MAP -->
	<section id="commute-map">
	    <div class="container fadeIn">
	        <div class="row">
	            <div class="text-center">
	                <h1>Average Commute</h1>
	                <hr class="faded">
	            </div>
	            <div class="col-md-6">
		        	<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/sldatateam.ljcl2na9/attribution,zoompan,zoomwheel,geocoder,legend,share.html?access_token=pk.eyJ1Ijoic2xkYXRhdGVhbSIsImEiOiJuR1ZmQ01vIn0.zyEdsIKM-4orPm-3Y0XWDQ'></iframe>
		        </div>
	            <div class="col-md-6 text-center">
		            <p>Here we have a map displaying information that about the average commute time in New Jersey.</p>
		            <p>Clicking on the individual towns will give you commute times specific to that town.</p>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- END COMMUTE MAP -->

