	<!-- START CRIME MAP -->
	<section id="crime-map">
	    <div class="container fadeIn">
	        <div class="row">
	            <div class="text-center">
	                <h1>Crime Rate</h1>
	                <hr class="faded">
	            </div>
	            <div class="col-md-6">
		        	<iframe width='100%' height='470px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/sldatateam.ljcf8k9c/attribution,zoompan,legend,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic2xkYXRhdGVhbSIsImEiOiJuR1ZmQ01vIn0.zyEdsIKM-4orPm-3Y0XWDQ'></iframe>      
	            </div>
	            <div class="col-md-6 text-center">
		            <p>Here we have a map displaying the amount of crime rate in the specific areas of New Jersey
</p>
		            <p>Clicking on the individual towns will give you a more detailed crime rates for that town.</p>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- END CRIME MAP -->

