	<!--- START JS -->
	<script src="{{ site.baseurl }}/assets/js/jquery-1.11.0.js"></script>
	<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
	
	<script src="{{ site.baseurl }}/assets/js/jquery.easing.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/cbpAnimatedHeader.js"></script>
	<script src="{{ site.baseurl }}/assets/js/jqBootstrapValidation.js"></script>
	<script src="{{ site.baseurl }}/assets/js/classie.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
	<script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>

	<script src="{{ site.baseurl }}/assets/js/metajersey.js"></script>
	<!--- END JS -->
