	<!-- START POP MAP -->
	<section id="pop-map">
	    <div class="container fadeIn">
	        <div class="row">
	            <div class="text-center">
	                <h1>Population Change</h1>
	                <hr class="faded">
	            </div>
	            <div class="col-md-6">
		        	<iframe width='100%' height='470px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/sldatateam.ljbn0l0b/attribution,zoompan,zoomwheel,legend,geocoder,share.html?access_token=pk.eyJ1Ijoic2xkYXRhdGVhbSIsImEiOiJuR1ZmQ01vIn0.zyEdsIKM-4orPm-3Y0XWDQ'></iframe>
	            </div>
	            <div class="col-md-6 text-center">
		            <p>Here we have a map diplaying the population change that has occoured between the years 2010 and 2014.</p>
		            <p>Clicking on the individual towns will give you a more detailed history of the population shifts specific to the town.</p>
	            </div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- END POP MAP -->
